<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Search result in the pricerange</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>

    <p th:text="'price range: ' + ${model.price}" />

    <p th:text="'Model: ' + ${model.name}" />

    <a href="/api/v1/by-price">Search another</a>

</body>
</html>
